<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <h1 class="my-4">Category</h1>
      <div class="list-group">
        <%= link_to 'Dog Food', shop_dog_dog_food_url, class: 'list-group-item' %>
        <%= link_to 'Dog Toys', shop_dog_dog_toys_url, class: 'list-group-item' %>
        <%= link_to 'Dog Beds', shop_dog_dog_beds_url, class: 'list-group-item' %>
      </div>
    </div>


    <div class="col-lg-9">
      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag 'dog-products-category_1.jpg', class: 'img' %>
          </div>
        </div>
      </div>

      <h4>BEST SELLING PRODUCTS IN THIS CATEGORY</h4>
      <br>

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <%= link_to image_tag('Agility-Weave-Poles-12-115cm-High-3.jpg', class: "img"), controller: 'products', action: 'show', id: 11 %>
            <div class="card-body">
              <p class="card-text">Agility Weave Poles 12 115cm High</p>
              <h5>$49.99</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <%= link_to image_tag('Earthbound Classic Morland Bed Pink.png', class: "img"), controller: 'products', action: 'show', id: 22 %>
            <div class="card-body">
              <p class="card-text">Earthbound Classic Morland Bed Pink</p>
              <h5>$45.00</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <%= link_to image_tag('go_native_chicken.png', class: "img"), controller: 'products', action: 'show', id: 5 %>
            <div class="card-body">
              <p class="card-text">Red Mills - Go Native - Chicken</p>
              <h5>$8.00</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <%= link_to image_tag('dog-force-grip-ball.jpg', class: "img"), controller: 'products', action: 'show', id: 14 %>
            <div class="card-body">
              <p class="card-text">Nerf Dog Force Grip Ball 6</p>
              <h5>$14.30</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <%= link_to image_tag('brown-bed_2.jpg', class: "img"), controller: 'products', action: 'show', id: 24 %>
            <div class="card-body">
              <p class="card-text">Petstop Sofa Bed Plaid Brown</p>
              <h5>$31.90</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <%= link_to image_tag('royal-canin-medium-adult-7.jpg', class: "img"), controller: 'products', action: 'show', id: 3 %>
            <div class="card-body">
              <p class="card-text">Royal Canin Medium Adult 7+</p>
              <h5>$30.95</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
